@charset "utf-8";
/* CSS Document
 * author: @Jhonny_Guarin @GenesisDaniela @DanielaSanchezb
 * Version: 1
 * Modificado por :
 */


.contenidoF{
    grid-area: contenido;
    margin: 0 auto;
    width: 80%;
    max-height: 125em;
    padding:2.3em;
}
main{
    width: 50%;
    margin: 0 auto;
}
.formulario {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.form_label {
    display: block;
    font-weight: 700;
    cursor: pointer;
}

.form_grupo_input {
    position: relative;
}

.form_input {
    width: 60%;
    background: #fff;
    border: 1px solid rgba(56, 56, 56, 0.2);
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}

.form_input:focus {
    border: 3px solid #119200;
    outline: none;
    box-shadow: 3px 0 30px rgba(163,163,163, 0.4);
}

.form_input_error {
    font-size: 12px;
    margin-bottom: 0;
    border-radius: 3px;
    display: none;
}

.form_input_error_activo {
    color:#D30021;
    display: block;
}

.form_validar_estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.form_checkbox {
    width: 0.813em;
    height: 0.813em;
}

.form_radio,
.form_msj,
.form_grupo_btn_enviar {
}

.form_msj {
    height: 45px;
    line-height: 45px;
    background: #D30021;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.form_msj_activo {
    display: block;
}

.form_msj p {
    margin: 0;
}

.form_grupo_btn_enviar {
    flex-direction: column;
    align-items: center;
}

.form_grupo_btn_borrar {
    flex-direction: column;
    align-items: center;
}

.form_btn {
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: #D30021;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
}

.form_btn:hover {
    box-shadow: 3px 0 30px rgba(163,163,163, 1);
}

.form_msj_exito {
    font-size: 14px;
    color: #119200;
    display: none;
}

.form_msj_exito_activo {
    display: block;
}
.form_msj_borrado {
    font-size: 14px;
    color: #119200;
    display: none;
}

.form_msj_borrado_activo {
    display: block;
}

/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
    .formulario {
        grid-template-columns: 1fr;
    }

    .formulario_grupo-terminos,
    .formulario_mensaje,
    .formulario_grupo-btn-enviar {
        grid-column: 1;
    }

    .formulario__btn {
        width: 100%;
    }
}




