/* CSS Document: Menú
 * author: @Jhonny_Guarin @GenesisDaniela @DanielaSanchezb
 * Version: 1
 * Modificado por : 
 */

 #menu{
 	grid-area: menu;
	margin: 0 auto;
	margin-bottom: 50px;
	height:50px;
	width: 906px;
}

#menu a{
	color:#FFF;
	border:1px;
	background-color: #ad001b;
	text-decoration:none;
	display:inline-block;
	padding:0 85px;
	line-height:56px;
	font-size: 16px;
	text-align:center;
	height: 50px;
}
#menu a:hover{
	background-color:#370100;
	color: #FFF;
}

/*----------------------------------*/

#menu ul{
	width: 906px;
	padding:0;
}


#menu ul li{
	list-style-type:none;
	float:left;
}

#menu ul li:hover ul{
	display:block;
}

#menu ul li ul{
	position: absolute;
	display: none;
}

#menu ul li ul a{
	width: 222px;
	font-size:14px;
	padding: 0 10px;
}

#menu ul li ul li{
	float:none;
}