@charset "utf-8";
/* CSS Document 
 * author: @Jhonny_Guarin @GenesisDaniela @DanielaSanchezb
 * Version: 1
 * Modificado por : 
 */

body{
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.contenedor{
    width: 100%;/*80%*/
    max-width: 95em;/*75em*/
    display: grid;
    grid-gap: 1.3em; 
    /*margin: 1.3em;*/
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    'cabeza cabeza cabeza'
    'menu menu menu'
    'contenido contenido contenido'
    'sidebar sidebar sidebar'
    'pie pie pie';
}
.contenedor-galeria{
    grid-column: span 3;
    max-width: 75em;
    display: grid;
    grid-gap: 1.3em;
    margin: 0 auto;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, 1fr);
    
}
/*@media screen and (max-width: 576px){
    .contenedor {
    grid-template-areas: 'cabeza'
    'menu'
    'contenido'
    'sidebar '
    'pie';
    }
}
@media screen and (max-width: 768px){
    .contenedor {
    grid-template-areas: 'cabeza'
    'menu '
    'contenido'
    'sidebar '
    'pie ';
    }
}

@media screen and (max-width: 992px){
    .contenedor {
    grid-template-areas: 'cabeza'
    'menu'
    'contenido'
    'sidebar'
    'pie';
    }
}

@media screen and (max-width: 1200px){
    .contenedor {
    grid-template-areas: 'cabeza cabeza cabeza'
    'menu menu menu'
    'contenido contenido contenido'
    'sidebar sidebar sidebar'
    'pie pie pie';
    }
}*/

.cabeza{
    grid-area: cabeza;
    padding: 1.3em;
    background: #d30021 linear-gradient(to bottom, #d30021, #370100);
    height: 6.3em;
}
.cabeza .banner{
    margin: 0 auto;
    width: 90%;
    background-color: #FFF;
    height: 6.3em;
    -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;
}
.cabeza h1{
    padding-top: 0.63rem;
}

.cabeza #img-header-ufps{
    width: 7%;
    margin-top: 0.63em;
    margin-left: 2.5em;
    margin-right: 1.3em;
}

.cabeza #img-header-ing{
    width: 25%;
    margin-right: 1.3em;
}

.pos-izq{
    float: left;
    margin-left: 1.3em;
}
.pos-der{
    float: right;
    margin-right: 1.3em;
}

/* Revisar uso de los h*/
.titulo{
    margin: 0;
    font-size: 2rem;
    color: #D30021;
}
.subtitulo-1{
    margin: 0;
    font-size: 1.38rem;
    color: black;
}
.subtitulo-2{
    margin: 0;
    font-size: 1.38rem;
    color: #383838;
}
.subtitulo-3{
    margin: 0;
    font-size: 1.13rem;
    color: black;
}
.subtitulo-4{
    margin: 0;
    font-size: 1.13rem;
    color: #d30021;
}
.subtitulo-5{
    margin: 0;
    font-size: 1rem;
    color: #383838;
}

.text-centrado{
    text-align: center
}
.text-izquierda{
    text-align: left;
}
.text-derecha{
    text-align: right;
}

.enlace{
    margin: 0;
    font-size: 16px;
    color: #ffa5a5;
}

.contenido{
    grid-area: contenido;
    margin: 0 auto;
    width: 80%;
    max-height: 42.5em;
    padding:2.3em;
}

.caja{
    margin:0 auto;
    padding: 10px;
    border: 1px solid rgba(56, 56, 56, 0.4);
    -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;
}

.sidebar{
    grid-area: sidebar;

}

.pie{
    grid-area: pie; 
    color: white;
    background: #D30021;
    background: linear-gradient(to bottom, #D30021, #370100);
    padding: 1.3em;
    margin-bottom: 0;
}
.pie p{
    margin: 0 auto;
}
.tabla{
    
    font-size: 24px;
    font-family: serif;
    background: firebrick;
    overflow:hidden;
    border-collapse:collapse;
    margin: 0 auto;
    width: 400px;
    text-align: center;
     border: 1px solid rgba(56, 56, 56, 0.4);
}
.tabla th{
    color:#FFF;
    text-align:center;
    padding:5px 5px;
    background-color:#900;
    height:10px;
}
.tabla tr:nth-child(even){
    color:#fff;
    background: firebrick;
    height: 40px;
}
.tabla tr:nth-child(odd){
    background: #fff;
    width: 200px;
    height: 10px;
}
.tabla tr:hover{
    color:#fff;
    background-color:#900;
}
